@model IEnumerable<MvcCubosExamenSAM.Models.Cubo>

@{
    List<string> marcas = ViewData["MARCAS"] as List<string>;
}

<h1>Cubos</h1>

<p>
    <a asp-controller="Cubos" asp-action="Create">Create New</a>
</p>

<form method="post">
    <label>Marcas</label>
    <select class="form-select" name="marca">
        @foreach(string marca in marcas)
        {
            <option>@marca</option>
        }
    </select>
    <button class="btn btn-primary">
        Filtrar
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCubo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCubo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Imagen)" width="250" height="250"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a asp-controller="Usuarios" asp-action="Comprar" asp-route-id=@item.IdCubo class="btn btn-primary">Comprar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
